---
import Tag from "./Tag.astro";
import MainButton from "./MainButton.astro";
import { WebIcon } from "../icons/icons";
import { GithubIcon } from "../icons/icons";
interface Props {
    img: string;
    title: string;
    description: string;
    tags: Array<string>;
    web?: string;
    gitHub?: string;
}

const { title, img, description, tags, web, gitHub } = Astro.props;
---

<div
    class="card-box-shadow grid rounded-lg overflow-hidden bg-white/5 backdrop-blur-md backdrop-filter"
>
    
    <div class=" grid grid-rows-[auto_1fr]">
        <img src={img} alt="" class="rounded-lg h-[17rem] w-full object-cover" />
        <div class="h-full self-start mt-4 p-6">
            <h3 class="text-white font-primary text-xl font-bold">
                {title}
            </h3>
            <p class="text-gray-300 font-primary">
                {description}
            </p>
            <div class="flex flex-grow items-end">
                <div class="mt-4 items-center flex gap-2 flex-wrap">
                    {tags.map((tag) => <Tag name={tag} />)}
                </div>
            </div>
        </div>
        <div
            class="grid grid-cols-[repeat(auto-fit,_minmax(150px,_1fr))] gap-2 self-end px-6 mb-6"
        >
            {
                web ? (
                    <MainButton text="Website" web={web}>
                        <WebIcon />
                    </MainButton>
                ) : null
            }
            {
                gitHub ? (
                    <MainButton text="GitHub" web={gitHub}>
                        <GithubIcon />
                    </MainButton>
                ) : null
            }
        </div>
    </div>
    <!-- <span class="border-span-top"></span> -->
    <span class="span-1"></span>
    <span class="span-2"></span>
    <span class="span-3"></span>
    <span class="span-4"></span>
</div>
<!-- </div> -->

<style>
    /* .card::before {
        @apply content-[''] absolute bg-[conic-gradient(#04b0ee_20deg,transparent_120deg)] w-full h-full top-[-25%] left-[25%] z-[-1];
    }

    .card::after {
        @apply content-['tailwind'] text-white w-[94%] h-[94%] absolute top-[3%] left-[3%] flex justify-center items-center
    } */
</style>
