---
import Tag from "./Tag.astro";
import MainButton from "./MainButton.astro";
import { WebIcon } from "../icons/icons";
import { GithubIcon } from "../icons/icons";

interface Props {
    img: string;
    title: string;
    description: string;
    tags: Array<string>;
    web?: string;
    gitHub?: string;
}

const { title, img, description, tags, web, gitHub } = Astro.props;

console.log(tags);
---

<div
    class="card-box-shadow grid sm:grid-cols-2 rounded-lg overflow-hidden w-full mt-4 h-min-[50rem] relative bg-white/5 backdrop-blur-md backdrop-filter hover:shadow-xl transition-all duration-300 ease-in-out"
>
    <div class="sm:order-2">
        <img
            src={img}
            alt=""
            class=" h-full object-cover object-left"
        />
    </div>
    <div class="p-6 order-1 gap-2 flex flex-col">
        <h3 class="text-white font-primary text-xl font-bold">
            {title}
        </h3>
        <p class="text-gray-300 font-primary">
            {description}
        </p>
        <div class="flex flex-grow items-end">
            <div class="mt-4 items-center flex gap-2 flex-wrap">
                {tags.map((tag) => <Tag name={tag} />)}
            </div>
        </div>
        <div
            class="grid grid-cols-[repeat(auto-fit,_minmax(150px,_1fr))] gap-2 mt-4"
        >
            {
                web ? (
                    <MainButton text="Website" web={web}>
                        <WebIcon />
                    </MainButton>
                ) : null
            }
            {
                gitHub ? (
                    <MainButton text="GitHub" web={gitHub}>
                        <GithubIcon />
                    </MainButton>
                ) : null
            }
        </div>
    </div>
    <!-- <span class="border-span-top"></span> -->
    <span class="span-1"></span>
    <span class="span-2"></span>
    <span class="span-3"></span>
    <span class="span-4"></span>
</div>
